.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}
header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 60px;
}
nav {
    width: 90%;
}
ul {
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.mainphoto {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainphoto img {
    width: 100%;
}
.satauri1 {
    font-size: 40px;
    padding-top: 138px;
    padding-bottom: 70px;
    padding-left: 115px;
}
.statiebi {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sec1 {
    width: 25%;
    margin: 0 auto;
}
.sec2 {
    width: 25%;
    margin: 0 auto;
}
.sec3 {
    width: 25%;
    margin: 0 auto;
}
.sec1 img {
    width: 100%;
}
.sec2 img {
    width: 100%;
}
.sec3 img {
    width: 100%;
}
.statiebi h3 {
    font-size: 30px;
}
.statiebi p {
    font-size: 18px;
}.statiebi span {
    font-size: 24px;
}
h3 {
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 33px;
}
span {
    padding-top: 73px;
    
}
.loadmore {
    font-size: 30px;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 53px;
}
.news {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 68px;
}
.sec4 {
    width: 25%;
    margin: 0 auto;
}
.sec5 {
    width: 25%;
    margin: 0 auto;
}
.sec6 {
    width: 25%;
    margin: 0 auto;
}
.sec4 img {
    width: 100%;
}
.sec5 img {
    width: 100%;
}
.sec6 img {
    width: 100%;
}
.sec1 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.sec2 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.sec3 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.sec4 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.sec5 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.sec6 p {
    padding-left: 12px;
    padding-bottom: 73px;
}
.news h3 {
    font-size: 30px;
}
.news p {
    font-size: 18px;
}.news span {
    font-size: 24px;
}
footer {
    background-color: #2E2E2E;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
}
.contact p {
    color: #F2F2F2;
}
.address p {
    color: #F2F2F2;
}
.logo {
    width: 10%;
    margin: 0 auto;
}
.contact {
    width: 10%;
    margin: 0 auto;
}
.address {
    width: 10%;
    margin: 0 auto;
}
.logos {
    width: 10%;
    margin: 0 auto;
}
.p1 {
    font-size: 20px;
}
.p2 {
    font-size: 13px;
}